/*** CSS Reset ***/

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; 

*/

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
}

/*** Setup ***/

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/***  Header Mobile ***/

.header {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.wrapper {
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.2rem;
  position: relative;
}

.logo {
  cursor: pointer;
}

.mobile-menu-icon {
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  background-color: white;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  gap: 1.2rem;
  color: #808397;
  top: calc(100% + 5rem);
  transition: opacity 0.3s ease;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.143px;
}

.hidden {
  opacity: 0;
}

.cta {
  border-radius: 9999px;
  background-color: #fbd600;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: #24303e;
}

.header-title {
  font-size: 4rem;
  color: white;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 6.25px;
  text-align: center;
  margin-top: 8.8rem;
}

.down-arrow {
  text-align: center;
  margin-top: 5.2rem;
  padding-bottom: 20rem;
}

/*** Header Desktop ***/

@media screen and (min-width: 768px) {
  .header {
    background-image: url(./images/desktop/image-header.jpg);
    min-height: 95%;

    background-position-y: 40%;
  }

  .mobile-menu-icon {
    visibility: hidden;
  }

  .top-nav {
    padding-top: 3.4rem;
  }

  .mobile-menu {
    opacity: 1;
    position: unset;
    background-color: unset;
    color: white;
    font-size: 1.8rem;
    letter-spacing: -0.129px;
    flex-direction: row;
    justify-content: flex-end;
    gap: 7.9rem;
  }

  .cta {
    background-color: white;
    color: #24303e;
  }

  .cta:hover,
  .cta:focus {
    background-color: #77cef5;
    color: white;
  }

  .header-title {
    font-size: 5.6rem;
    letter-spacing: 8.75px;
  }
}

/*** Mission Section Mobile ***/

section.mission {
  display: grid;
}

.mission img {
  width: 100%;
}

.img-desktop {
  display: none;
}

.cell-content {
  display: flex;
  flex-direction: column;
  padding: 15rem 5rem;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  gap: 3rem;
  min-height: 100%;
}

.cell-content h2 {
  font-size: 3.2rem;
  font-family: 'Fraunces', serif;
  color: #24303e;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.229px;
}

.cell-content p {
  font-size: 1.8rem;
  color: #808397;
  line-height: 3rem;
}

.cell-content a {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  letter-spacing: 1px;
  line-height: 2.5rem;
  position: relative;
}

.cell-content a::after {
  content: '';
  background-color: #fad400;
  width: 13.7rem;
  height: 1rem;
  position: absolute;
  border-radius: 999px;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
  opacity: 0.25;
}

.cell-4 .cell-content a::after {
  background-color: #fe7766;
}

.overlay-cell {
  position: relative;
}

.overlay-cell-content {
  position: absolute;
  top: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  padding: 0 10%;
}

.overlay-cell-content h2 {
  font-family: 'Fraunces', serif;
  color: #24554a;
  font-size: 2.8rem;
  font-weight: 900;
  letter-spacing: -0.2px;
}

.overlay-cell-content p {
  color: #24554a;
  line-height: 2.7rem;
  letter-spacing: -0.114px;
}

/*** Mission Section Half Screen ***/

@media screen and (min-width: 769px) and (max-width: 1350px) {
  .cell-content {
    padding: 0 5rem;
    gap: 1rem;
  }

  .cell-content h2 {
    font-size: 2.5rem;
  }
  .cell-content p {
    font-size: 1.6rem;
  }

  .overlay-cell-content {
    top: 55%;
    gap: 1rem;
  }

  .overlay-cell-content p {
    font-size: 1.4rem;
  }
}

/*** Mission Section Desktop ***/

@media screen and (min-width: 768px) {
  section.mission {
    grid-template-columns: 1fr 1fr;
  }

  .cell-content {
    justify-content: center;
    text-align: left;
  }

  .cell.cell-2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .img-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
  }
}

@media screen and (min-width: 1351px) {
  .cell-content {
    padding: 0 25%;
  }
  .overlay-cell-content {
    padding: 0 30%;
    top: 60%;
  }
  .overlay-cell-content p {
    font-size: 1.6rem;
  }
}

/*** Testimonials Section Mobile ***/

.testimonials {
  text-align: center;
  margin: 6.4rem 0 9rem;
}

.testimonials h2 {
  color: #a7aaad;
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
}

.testimonials .container {
  display: flex;
  flex-direction: column;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.4rem;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
}

.testimonial img {
  border-radius: 50%;
  width: 7.2rem;
  aspect-ratio: 1;
}

.testimonial .blurb {
  color: #5b636d;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.129px;
  margin: 3.2rem 0;
  max-width: 95%;
}

.testimonial .name {
  color: #24303e;
  font-size: 1.8rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  letter-spacing: -0.129px;
}
.testimonial .position {
  color: #a7aaad;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.1px;
  margin-top: 0.9rem;
}

/*** Testimonials Section Desktop ***/

@media screen and (min-width: 768px) {
  .testimonials {
    padding: 16rem 0;
  }
  .testimonials .container {
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
  }
}

/*** Gallery Section Mobile ***/

.gallery .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery .container img {
  width: 100%;
}

/*** Gallery Section Desktop ***/

@media screen and (min-width: 768px) {
  .gallery .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*** Footer Mobile ***/

.footer {
  background-color: #90d4c6;
  padding: 6.4rem 0;
}

.footer-content {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.footer-nav-links {
  color: #458d7e;
  display: flex;
  justify-content: center;
  gap: 5.7rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: -0.129px;
  margin-top: 4rem;
  margin-bottom: 8.8rem;
}

.footer-nav-link:hover {
  color: white;
}

.footer-social-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.footer-social-nav-link:hover path {
  fill: white;
}
